html, body{
    background-color: #787878;
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}

.addedService{
    color: #D52B2B;
}

#aside
{
    float: right;
    width: 30%;
    padding: 9px 0 20px;
    margin: 0 5px 0 0;
    display: inline;
}

#aside h3 {
    margin: 8px 0 2px 0;
}

.automaticLink{
    text-decoration: none;
}

.colList {
    vertical-align: top;
}

.colList > ul{
    padding: 0 14px;
    margin: 0;
}

#container
{
    margin: 0 auto;
    width: 90%;
    background: #fff;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}

#content
{
    float: left;
    width: 65%;
    padding: 10px 0 20px;
    margin: 0 0 0 2%;
}

#content h2 { margin: 0; }

#creditCardImg{
    margin-bottom: 0;
}

#creditCardText{
    margin-top: 0;
}

.cwTrack:hover{
    color: #cc0000;
}

.cwTrackSelected {
    color: #019BE3;
}

.detailLink{
    text-decoration: none;
}

#detailPackageListingContainer {
    width: 450px;
    margin: 0 0 5px 0;
}

#detailMicroGallWrap {
    cursor: pointer;
    height: 260px;
    overflow: hidden;
    padding: 0 0 5px 5px;
    width: 100%;
}

#detailMicroGallWrap .options{
    display: none;
}

#detailPackageDiv table.display td {
    border-left: 1px solid #EEEEEE;
    padding: 3px 10px;
}

.detailPics{
    color: #004276;
    font-size: 16px;
    line-height: 25px;  
}

.detailPics:hover{
    color: #cc0000;
}

#detailPricesLink {
    line-height: 25px;
    padding-left: 10px;
}

/*#detailPricesLink:hover {
    color: #cc0000;
    font-size: 16px;
    line-height: 25px;
    padding-left: 10px;
}*/

.sectionTitle{
    margin: 0 0 5px 5px;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 5px 5px;
}

#detailPricingTitle{
    font-weight: bold;
    font-style: italic;
}

.extraService{
    color: purple;
}

#giftCertsText{
    font-weight: bold;
    font-style: italic;
}

#header {
    background: #0177ED url('../images/banner_chrome_750x100.png') no-repeat center; 
    height: 100px;
    width: 100%;
}

#header h1 { margin: 0; }

.homeBlock{
    margin: 10px 0;
    color: #004276;
    font-weight: bold;
    background: #f6f6f6 url(custom-theme/images/ui-bg_carbon-fiber_70_f6f6f6_8x9.png) 25% 25% repeat;
}

.homeBlock:hover{
    cursor: pointer;
    background: #ffffff url(custom-theme/images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #cc0000;
}

.homeTextBlock > ul {
    font-size: 16px;
    line-height: 25px;
    padding-left: 18px;
}

.hoursTitle{
    font-weight: bold;
    font-style: italic;
}

.microSlide{
    float: left;
}

#navHomeLabel{
    margin-left: 5px;
}

.navLabel{
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin: 5px 0 8px 0;
}

.products {
    float: left;
    margin: 0 0 0 2%;
    padding: 10px 0 20px;
    width: 100%;
}

.products > table {
  width: 100%;
  text-align: center;
}

.quote{
    font-style: italic;
    font-size: 1.2em;
}

.ui-tooltip {
    background: white;
    border: 2px solid #019BE3;
}

#content-container1
{
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}

#content-container2
{
    float: left;
    width: 100%;
}

.cwTrack{
    text-decoration: none;
    cursor: pointer;
}

#cwPlayList {
    background-color: white;
    border: 3px solid #009BE3;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
    width: 300px;
}

#cwPlayList tbody tr:hover {
    color: #cc0000;
}

#cwPlayList tbody tr.even td {
    background-color: #CCCCCC;
}

#cwPlayList tbody tr.odd  td {
    background-color: #EEEEEE;
}

.cwTrackCell{
    padding: 5px;
}

#cwPlayListTitle{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
    padding: 5px;
}

#cwPlayListTitle:hover{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
    padding: 5px;
}

#section-navigation
{
    float: left;
    width: 16%;
    padding: 20px 0;
    margin: 0 2%;
    display: inline;
}

#section-navigation ul
{
    margin: 0;
    padding: 0;
}

#section-navigation ul li
{
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
}

.selfServiceLink{
    text-decoration: none;
}

.serviceSummary{
    padding: 0 5px 5px 5px;
}

.sideBlock{
    border: 1px solid #EEEEEE;
    padding: 0 10px 8px;
    margin-top: 10px;
}

#siteDescription {
    color: white;
    filter: alpha(opacity = 0);
    height: 0;
    opacity: 0;
    position: static;
    z-index: -100;
    zoom: 1;
}

.sliderButtons {
    float: right;
    margin-left: 10px;
    font-size: 0.5em;
}

#hours-table{
    width: 95%;
}

.hours-table-left-col{
    text-align: left;
}

.hours-table-right-col{
    text-align: left;
}

#footer{
    /*background: #333333;*/
    clear: both;
    color: white;
    height: 15px;
    padding: 4px 8px 5px 5px;
    text-align: right;
}

.ui-widget{
    font-size: 1.0em !important;
}